body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    border: 1px solid #ccc;
}

th, td {
    border: 1px solid #ccc;
    padding: 8px;
}

th {
    background-color: #007bff;
    color: #fff;
}

tr:hover {
    background-color: #ddd;
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: flex;
    margin-bottom: 5px;
}

input[type="text"],
input[type="tel"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #007bff;
    color: #fff;
    
}


a {
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    margin-top: 10px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

a:hover {
    background-color: #0056b3;
}

button[name="supprimer"] {
    background-color: #ff0000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button[name="supprimer"]:hover {
    background-color: #ad5252;
}

button[name="modifier"] {
    background-color: #ffc107;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button[name="modifier"]:hover {
    background-color: #b69a45;
}